#hero {
    width: 100%;
    height: 100vh;
    background: url("../img/romecoliseo.jpg") top center;
    background-size: cover;
    position: relative;
  }
  
  #hero2 {
    width: 100%;
    height: 100vh;
    background: url("../img/loba.jpg");
    background-size: 2300px 1200px;
    text-align: justify;
    padding-top: 30px;
  }
  
  #hero3 {
    width: 100%;
    height: 100vh;
    background: url("../img/telefono.jpg");
    background-size: cover;
    text-align: justify;
    padding-top: 200px;
  }
  
  .italia {
    background-color: #727070;
    padding-top: 100px;
  }
  
  .italia1 {
    padding-bottom: 50px;
    background-color:$colorbackground;
  }
  
  .entretenimiento {
    padding-top: 100px;
    background-color: #645264;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
  }
  
  .media1 {
    padding-bottom: 50px;
    padding-top: 20px;
  }
  
  .monumentos {
    padding-top: 100px;
  }
  
  .pantheon {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  
  .coliseo {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  #hero {
    &:before {
      content: "";
      background: rgba(0, 0, 0, 0.6);
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
    }
  
    .container {
      padding-top: 72px;
      position: relative;
      text-align: center;
    }
  
    h1 {
      margin: 0 0 10px 0;
      font-size: 48px;
      font-weight: 700;
      line-height: 56px;
      color: #fff;
    }
  
    h2 {
      color: #eee;
      margin-bottom: 40px;
      font-size: 24px;
    }
  
    .play-btn {
      width: 94px;
      height: 94px;
      margin: 0 auto;
      background: radial-gradient(#7319bd 50%, rgba(102, 8, 131, 0.4) 52%);
      border-radius: 50%;
      display: block;
      overflow: hidden;
      position: relative;
  
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-40%) translateY(-50%);
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 15px solid #fff;
        z-index: 100;
        transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
      }
  
      &::before {
        content: "";
        position: absolute;
        width: 120px;
        height: 120px;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
        -webkit-animation: pulsate-btn 3s;
        animation: pulsate-btn 3s;
        -webkit-animation-direction: forwards;
        animation-direction: forwards;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: steps;
        animation-timing-function: steps;
        opacity: 1;
        border-radius: 50%;
        border: 5px solid rgba(102, 8, 131, 0.4);
        top: -15%;
        left: -15%;
        background: rgba(198, 16, 0, 0);
      }
  
      &:hover {
        &::after {
          border-left: 15px solid #7319bd;
          transform: scale(20);
        }
  
        &::before {
          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translateX(-40%) translateY(-50%);
          width: 0;
          height: 0;
          border: none;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-left: 15px solid #fff;
          z-index: 200;
          -webkit-animation: none;
          animation: none;
          border-radius: 0;
        }
      }
    }
  }
  
  @media (max-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 768px) {
    #hero {
      h1 {
        font-size: 28px;
        line-height: 36px;
      }
  
      h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
      }
    }
  
    #hero2 {
      font-size: xx-small;
    }
  }
  
  @-webkit-keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
  
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  
  @keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
  
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  
  